.groups {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.group-wrapper {
  width: 50%;

  @media screen and (max-width: 480px) {
    width: 100%;
  }

  .group {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    background: #fefefe;
    border-radius: 0.5rem;

    &:nth-child(even) {
      margin-left: 0.5rem;

      @media screen and (max-width: 480px) {
        margin-left: 0;
      }
    }

    &:nth-child(odd) {
      margin-right: 0.5rem;

      @media screen and (max-width: 480px) {
        margin-right: 0;
      }
    }

    h3 {
      margin-top: 0.5em;
    }
  }
}

.details {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  height: 100%;
  width: 100%;
  background: rgba(30, 30, 30, 0.3);
  padding: 5% 15%;
  overflow: {
    x: hidden;
    y: auto;
  }

  @media screen and (max-width: 480px) {
    padding: 10%;
  }

  .inner-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1080px;
    margin: auto;
    padding: 3rem;
    justify-content: center;
    align-items: flex-start;
    background: #fefefe;
    border-radius: 0.5rem;

    @media screen and (max-width: 480px) {
      padding: 1rem;
    }
  }

  .img {
    width: 100%;
    margin: 1rem 0;
  }

  img {
    display: block;
    width: 100%;
    min-height: 100px;
    background: #666;
  }

  .toggle-details {
    align-self: center;
  }

  .slides {
    width: 100%;
    margin: 1em 0;

    &::after {
      content: attr(data-now) "/" attr(data-length);
      text-align: center;
      width: 100%;
      display: block;
    }

    .slide {
      position: relative;
      width: 100%;
      background: #666;

      &::before {
        content: "";
        display: block;
        padding-top: 9 / 16 * 100%;
      }

      &:not([data-loaded])::after,
      &[data-loaded="false"]::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 20%;
        height: 20%;
        margin: auto;
        animation: loading 1.2s infinite ease-in-out;
        background: #ccc;
        z-index: 3;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        z-index: 2;
        cursor: pointer;
      }

      &:not([is-selected]) {
        display: none;
      }
    }
  }
}

@keyframes loading {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }

  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }

  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
