.groups {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.group-wrapper {
  width: 50%;

  @media screen and (max-width: 480px) {
    width: 100%;
  }

  .group {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    background: #fefefe;
    border-radius: 0.5rem;

    &:nth-child(even) {
      margin-left: 0.5rem;

      @media screen and (max-width: 480px) {
        margin-left: 0;
      }
    }

    &:nth-child(odd) {
      margin-right: 0.5rem;

      @media screen and (max-width: 480px) {
        margin-right: 0;
      }
    }

    h3 {
      margin-top: 0.5em;
    }
  }
}

.details {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(30, 30, 30, 0.3);
  padding: 15%;
  overflow: {
    x: hidden;
    y: auto;
  };

  @media screen and (max-width: 480px) {
    padding: 10%;
  }

  .inner-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 3rem;
    justify-content: center;
    align-items: center;
    background: #eee;
  }

  img {
    width: 100%;
    margin: 1rem 0;
  }
}
