@import './header.scss';
@import './footer.scss';

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  width: 85vw;
  max-width: 1080px;
  padding: 4rem;
  margin: 0 auto;
  color: #100f24;
  background: linear-gradient(0deg, #feffc4, #fbfbf2);
}

main {
  flex: 1 0;
}
