@import "./header.scss";
@import "./footer.scss";
@import "./group.scss";

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  color: #2e5a6d;
  background: linear-gradient(0deg, #fafc94, #f9f9dc);
}

main {
  width: 80vw;
  flex: 1 0;

  @media screen and (max-width: 480px) {
    width: 90vw;
  }

  max-width: 1080px;
  padding: 0 4rem;
  margin: 0 auto;
}

.release {
  font-weight: bold;
}

.hidden {
  display: none;
}
