mixin group(group)
  .group-wrapper
    .group
      h3.name= group.name
      p.desc= group.desc
      button.toggle-details もっと詳しく
      .details.hidden
        .inner-wrapper
          each line in group.details.desc
            p !{line}
          each img in group.details.img
            img(src=img)
          button.toggle-details 閉じる
