include mixins/category.pug

doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    include includes/favicon.pug
    title C2特設ページ
  body
    include includes/header.pug
    main
      p
        | Creators' Conferenceは、複数の創作系サークルが合同で行うサークル説明会です。
        | 4/12(月) 20:00 〜 YouTubeにて開催を予定しています。
        | 本サイトでは、各サークルの活動団体別の発表で使用するスライドなどを掲載します。
      p.release 4/10(土) 15:00 公開予定
    include includes/footer.pug
